name: "unit-tests"

on:
  pull_request:
  push:
  schedule:
    # Run daily at 00:20 UTC
    - cron: "20 0 * * *"
  workflow_dispatch:

permissions: {}

concurrency:
  group: "${{github.workflow}}-${{github.ref}}"

  # Cancel in-progress jobs for efficiency
  cancel-in-progress: true

jobs:
  unit-tests:
    strategy:
      matrix:
        os:
          - "ubuntu-22.04"
          - "ubuntu-24.04"
    runs-on: "${{matrix.os}}"
    steps:
      - uses: "actions/checkout@v4"
        with:
          submodules: "recursive"

      - name: "Install task"
        shell: "bash"
        run: "npm install -g @go-task/cli"

      - name: "Install uv"
        shell: "bash"
        run: "curl -LsSf https://astral.sh/uv/install.sh | sh"

      - name: "Run unit tests"
        run: "task test"
